from flask import Flask, jsonify

app = Flask(__name__)

{% for spec in specs %}

@app.route("{{ spec["url"] }}")
def {{ spec["url"][1:] + "url"}}():
    return "test"
{% endfor %}

if __name__ == "__main__":
    app.run(debug=True)
